.card {
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #313131;
}
.img {
  width: 30%;
  height: auto;
  border-radius: 15px;
  background-color: blueviolet;
}
.category:hover {
  border-bottom: 1px solid grey;
}
.positionRight {
  position: absolute;
  top: 30%;
  right: 7%;
}
.positionLeft {
  position: absolute;
  top: 30%;
  left: 7%;
}
