.card {
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #313131;
}
.category:hover {
  border-bottom: 1px solid grey;
}
.positionRight {
  position: absolute;
  top: 30%;
  right: 7%;
}
.positionLeft {
  position: absolute;
  top: 30%;
  left: 7%;
}

.title {
  font-weight: 600;
  font-size: 35px;
}

@media (max-width: 1000px) {
  .positionLeft,
  .positionRight {
    left: 0;
    top: auto;
    bottom: 25px;
    width: 100%;
    align-items: center;
  }
  .title{
    font-size: 27px;
  }
  .desc{
    display: none;
  }
}

@media (max-width: 500px) {
  .positionLeft,
  .positionRight {
    display: none;
  }

}