.sign {
  height: 100vh;
  padding: 70px;
}

.imgContainer {
  width: 550px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 3px 8px #0000003d;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  width: 550px;
  padding: 50px;
  border-radius: 20px;
  overflow: auto;
  box-shadow: 0 2px 8px #0000003d;
}

.mobile {
  display: none;
}


@media (max-width: 1000px) {
  .imgContainer {
    display: none;
  }
  .mobile {
    display: block;
  }
  .button{
    width: 100%;
  }
}

@media (max-width: 600px) {
  .sign {
    padding: 50px;
  }
}

@media (max-width: 500px) {
  .sign {
    padding: 0;
  }
  .form {
    border-radius: 0;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
